* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  
  background-color: #282D35;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 25%;
  margin: 2%;
}

.image {
  border-radius: 5%;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50%;
}

h3 {
  margin-bottom: 0.5em;
}